.knowledge__form {
  animation: rollin_from_side 0.2s ease-out;
}

@keyframes rollin_from_side {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.vecdb__button__parsing {
  animation: dim_and_lighten 2s linear infinite;
}

@keyframes dim_and_lighten {
  0% {
    opacity: 1;
    filter: brightness(1);
  }
  50% {
    opacity: 0.5;
    filter: brightness(1.2);
  }
  100% {
    opacity: 1;
  }
}
